[Desktop Entry]
Name=Better Application Menu
Comment=An improved fork of Kicker Application Menu which is a launcher based on cascading popup menus

Type=Service
Icon=start-here-kde
X-KDE-ServiceTypes=Plasma/Applet

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-Provides=org.kde.plasma.launchermenu
X-Plasma-RequiredExtensions=LaunchApp

X-KDE-PluginInfo-Author=various
X-KDE-PluginInfo-Name=org.kde.plasma.betterkicker
X-KDE-PluginInfo-Version=2.2
X-KDE-PluginInfo-Category=Application Launchers
X-KDE-PluginInfo-License=GPL-2.0+
X-KDE-PluginInfo-EnabledByDefault=true

Name[nl]=Beter applicatiemenu
Comment[nl]=Een verbeterde vork van het Kicker-toepassingsmenu, een opstartprogramma dat is gebaseerd op trapsgewijze pop-upmenu's

